{
    "printWidth": 140,
    "tabWidth": 4,
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "useTabs": false,
    "arrowParens": "always",
    "jsxSingleQuote": true,
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "tsxSingleQuote": true,
    "semi": true,
    "quoteProps": "as-needed",
    "trailingComma": "none",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "proseWrap": "preserve",
    "requirePragma": false,
    "vueIndentScriptAndStyle": false,
    "parser": "typescript"
}